body{
    margin: 0;
    text-align: justify;
}

.p_f-size28{
    font-size: 28px;
}

.box-siz{
    box-sizing: border-box;
}


.height200{
    height: 200px;
}

.height50{
    height: 50%;
    width: 100%;
}

.header{
    background: yellow;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}

.info{
    height: 500px;
    background: chartreuse;
    display: flex;
}

.info_right{
    height: 100%;
    width: 70%;
}

.info_left{
    height: 100%;
    width: 30%;
    background: orange;
    padding: 5px;
}

.info_right__box1{
    background: white;
    font-size: 30px;
    padding: 10px;
}

.info_right__box2{
    background: deepskyblue;
    font-size: 40px;
    padding: 10px;
}

.footer{
    background: silver;
    padding: 20px;

}

p{
    margin: 0;
}

