body{
    margin: 0;
}

.border-b{
    border-bottom: 5px solid yellow;
}

.border2px{
    border: 2px solid yellow;
}

.head{
    border: solid 5px yellow;
    text-align: center;
    background: silver;
}


.head-info{
    display: flex;
    background: aqua;
    height: 400px;


}

.head-info-left{
    height: 100%;
    width: 75%;
    font-size: 30px;
    font-style: italic;
    padding: 10px;

}

.head-info-right{
    width: 25%;
    height: 100%;
}

.head-info-right>img{
    height: 100%;
    width: 100%;
}

.h2-info{
    background: silver;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
}



.main-info{
    display: flex;
    box-sizing: border-box;
    background: chartreuse;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.height{
    height: 100%;
}

.main-info-left{
    width: 30%;
    padding: 10px;
    font-size: 22px;
    font-style: oblique;

}

.main-info-center{
    width: 40%;
    padding: 10px;
}

.main-info-center>img{
    width: 100%;

}

.main-info-right{
    width: 30%;
    padding: 10px;
    font-size: 16px;
    font-style: revert;
}




